<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.board.mapper.BoardMapper">	<!-- xml파일을 사용할 mapper가 있는 경로 -->
  
	<!-- <select> 태그를 이용하여 select 쿼리임을 나타냄. 앞서 mapper에서 말했던 메소드의 이름은 select 쿼리의 id값과 같아야함. -->
	<select id="select" resultType="int">	
			SELECT 1
			FROM
				dual
	</select>
	
	<!-- application.properties에서 type alias를 잡은 경우 Dto클래스만 적어도 됨 --> 
	<!--<![CDATA[	 : <>(부등호),&(앤드),||(오아) 등을 닫는 부등호가 아니라 문자열로 처리하라는 뜻-->
	<select id="selectBoardList" resultType="BoardDto">	
		<![CDATA[				 
			SELECT
				board_idx, title, hit_cnt, TO_DATE(created_datetime , 'YYYY-MM-DD HH24:MI') AS created_datetime
			FROM
				t_board
			WHERE
				deleted_yn = 'N'
			ORDER BY board_idx DESC
		]]>
	</select>
	
	<select id="selectByIdx" parameterType="int" resultType="BoardDto">
		<![CDATA[ 
			SELECT 
				*
			FROM 
				t_board
			WHERE
				board_idx = #{boardIdx}
			]]>
	</select>
	
	<!-- html input 태그에서 name='title' 부분. 마이바티스에서는 #{변수명} 형식으로 전달된 데이터를 사용함. -->
	<insert id="insertBoard" parameterType="BoardDto">
		<![CDATA[
			INSERT INTO t_board
			(
				board_idx, title, contents, created_datetime, creator_id
			)
			VALUES
			(
				board_idx_seq.NEXTVAL,
				#{title},
				#{contents},
				SYSDATE,
				#{creatorId}
			)
		]]>
	</insert>
	
	<delete id="deleteByIdx" parameterType="int">
		<![CDATA[ 
			DELETE FROM t_board
			WHERE
				board_idx = #{boardIdx}
		]]>
	</delete>
</mapper>